{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="d-flex justify-content-between">
<h2>🎓 Student Analytics</h2>

<button onclick="toggleTheme()" class="btn btn-dark btn-sm">🌙 Theme</button>
</div>

<hr>

<!-- Stats -->
<div class="col-md-3 mb-3">
<div class="card p-3 text-center">
<h5>Total Students</h5>
<h2>{{ students|length }}</h2>
</div>
</div>

<hr>

<!-- Add Student -->
<div class="card p-4 mb-4">

<h4>Add Student</h4>

<form method="POST" action="/add" class="row g-2">

<input class="form-control" name="roll" placeholder="Roll Number" required>
<input class="form-control" name="name" placeholder="Name" required>

<input class="form-control" name="hci" placeholder="HCI">
<input class="form-control" name="isecurity" placeholder="Security">
<input class="form-control" name="mad" placeholder="MAD">
<input class="form-control" name="daa" placeholder="DAA">
<input class="form-control" name="bda" placeholder="Big Data">

<button class="btn btn-success mt-3">Add Student</button>

</form>
</div>

<hr>

<form method="GET" action="/search" class="mb-3 d-flex gap-2">

<input class="form-control" name="q" placeholder="Enter Roll Number">

<button class="btn btn-primary">Search</button>

</form>

<hr>

<!-- Table -->
<table class="table table-bordered table-hover">

<tr>
<th>Roll</th>
<th>Name</th>
<th>Total</th>
<th>Average</th>
<th>CGPA</th>
<th>Grade</th>
<th>Action</th>
</tr>

{% for roll,data in students.items() %}
<tr>

<td>{{roll}}</td>
<td>{{data.name}}</td>
<td>{{data.total}}</td>
<td>{{data.average}}</td>
<td>{{data.cgpa}}</td>
<td>{{data.grade}}</td>

<td>
<a href="/delete/{{roll}}" class="btn btn-danger btn-sm"
onclick="return confirm('Delete student?')">
Delete
</a>
</td>

</tr>
{% endfor %}

</table>

<script>

function toggleTheme(){
 document.body.classList.toggle("dark");
}

</script>

{% endblock %}